In [ ]:
import pandas as pd
import sodapy as sodapy
from sodapy import Socrata

In [15]:
all_results = []
offset=0
while True:
    client = Socrata("data.cityofnewyork.us", None)
    results = client.get("w9ak-ipjd", where="filing_date>'2023-12-31T00:00:00.000'", limit=50000,offset=offset)
    offset = offset + 50000
    print(len(results),offset)
    all_results.extend(results)
    if len(results)<50000:
        break
all_results_df = pd.DataFrame.from_dict(all_results)
all_results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.
WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

50000 50000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

50000 100000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

50000 150000
30979 200000

,job_filing_number,filing_status,house_no,street_name,borough,block,lot,bin,commmunity_board,work_on_floor,...,temporary_place_of_assembly_work_type_,job_type,built_1_information_value,built_2_information_value,built_2_a_information_value,built_2_b_information_value,filing_representative_middle_initial,apt_condo_no_s,request_legalization,includes_permanent_removal
0,B00983824-I1,Permit Issued,203,MAPLE STREET,BROOKLYN,5029,57,3114761,309,"Basement/Sub-basement, Basement/Sub-basement, ...",...,No,Alteration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M00982779-I1,Permit Entire,305,7 AVENUE,MANHATTAN,803,7502,1015060,105,Open Space,...,No,Alteration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B00983360-S1,Approved,509,QUENTIN ROAD,BROOKLYN,6637,53,3176104,315,"Cellar-SO-1582-B00983360-I1, Floor Number(s)-1...",...,No,ALT-CO - New Building with Existing Elements t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B00983530-S1,Permit Entire,1088,EAST 8 STREET,BROOKLYN,6528,37,3171163,312,"Cellar-SO-9352-B00983530-I1, Floor Number(s)-1...",...,No,ALT-CO - New Building with Existing Elements t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q00928780-S1,Permit Entire,167-05 GAR,65 AVENUE,QUEENS,6895,8,4624759,408,Open Space,...,No,New Building,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180974,B00808925-P2,Pending SO PE Assignment,1117,CHURCH AVENUE,BROOKLYN,5072,33,3116376,314,NaN,...,No,Alteration CO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180975,B01031089-P3,Prof Cert QA Review,1601,DEKALB AVENUE,BROOKLYN,3237,23,3428633,304,Open Space,...,No,Alteration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180976,B01187808-I1,Pending CPE/ACPE Assignment,1522,57 STREET,BROOKLYN,5496,15,3131100,312,"Cellar, Floor Number(s) 001 through 003, Roof",...,No,Alteration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180977,M01187109-I1,Pending Prof Cert QA Assignment,100,WEST 89 STREET,MANHATTAN,1219,7501,1032320,107,Floor Number(s) 002 through 002,...,No,Alteration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180978,Q00939603-I1,Pending CPE/ACPE Assignment,36-20,23 AVENUE,QUEENS,819,42,4016208,401,"Basement/Sub-basement, Floor Number(s) 001 thr...",...,No,Alteration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180979 entries, 0 to 180978
Data columns (total 83 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   job_filing_number                         180979 non-null  object
 1   filing_status                             180979 non-null  object
 2   house_no                                  180979 non-null  object
 3   street_name                               180979 non-null  object
 4   borough                                   180979 non-null  object
 5   block                                     180979 non-null  object
 6   lot                                       180979 non-null  object
 7   bin                                       180979 non-null  object
 8   commmunity_board                          180678 non-null  object
 9   work_on_floor                             160505 non-null  object
 10  applicant_professional_title              180979 non-null  object
 11  applicant_license                         180979 non-null  object
 12  applicant_first_name                      180935 non-null  object
 13  applicants_middle_initial                 56320 non-null   object
 14  applicant_last_name                       180975 non-null  object
 15  owner_s_business_name                     170974 non-null  object
 16  owner_s_street_name                       180825 non-null  object
 17  city                                      180979 non-null  object
 18  state                                     180979 non-null  object
 19  zip                                       180979 non-null  object
 20  filing_representative_first_name          141801 non-null  object
 21  filing_representative_last_name           141801 non-null  object
 22  filing_representative_business_name       141528 non-null  object
 23  filing_representative_street_name         140138 non-null  object
 24  filing_representative_city                141546 non-null  object
 25  filing_representative_state               141546 non-null  object
 26  filing_representative_zip                 141546 non-null  object
 27  sprinkler_work_type                       180979 non-null  object
 28  plumbing_work_type                        180979 non-null  object
 29  initial_cost                              180979 non-null  object
 30  total_construction_floor_area             159873 non-null  object
 31  review_building_code                      179533 non-null  object
 32  little_e                                  180924 non-null  object
 33  unmapped_cco_street                       109843 non-null  object
 34  in_compliance_with_nycecc                 180979 non-null  object
 35  exempt_from_nycecc                        180979 non-null  object
 36  building_type                             178205 non-null  object
 37  existing_stories                          83236 non-null   object
 38  existing_height                           79004 non-null   object
 39  existing_dwelling_units                   146974 non-null  object
 40  proposed_no_of_stories                    92992 non-null   object
 41  proposed_height                           88751 non-null   object
 42  proposed_dwelling_units                   157447 non-null  object
 43  specialinspectionrequirement              126600 non-null  object
 44  special_inspection_agency_number          107751 non-null  object
 45  progressinspectionrequirement             109463 non-null  object
 46  standpipe                                 180979 non-null  object
 47  antenna                                   180979 non-null  object
 48  curb_cut                                  180979 non-null  object
 49  sign                                      180979 non-null  object
 50  fence                                     180979 non-null  object
 51  scaffold                                  180979 non-null  object
 52  shed                                      180979 non-null  object
 53  postcode                                  156940 non-null  object
 54  latitude                                  156644 non-null  object
 55  longitude                                 156644 non-null  object
 56  council_district                          156644 non-null  object
 57  census_tract                              156644 non-null  object
 58  bbl                                       155682 non-null  object
 59  nta                                       156644 non-null  object
 60  filing_date                               180979 non-null  object
 61  current_status_date                       180979 non-null  object
 62  first_permit_date                         88306 non-null   object
 63  boiler_equipment_work_type_               180979 non-null  object
 64  earth_work_work_type_                     180979 non-null  object
 65  foundation_work_type_                     180979 non-null  object
 66  general_construction_work_type_           180979 non-null  object
 67  mechanical_systems_work_type_             180979 non-null  object
 68  place_of_assembly_work_type_              180979 non-null  object
 69  protection_mechanical_methods_work_type_  180979 non-null  object
 70  sidewalk_shed_work_type_                  180979 non-null  object
 71  structural_work_type_                     180979 non-null  object
 72  support_of_excavation_work_type_          180979 non-null  object
 73  temporary_place_of_assembly_work_type_    180979 non-null  object
 74  job_type                                  180979 non-null  object
 75  built_1_information_value                 5781 non-null    object
 76  built_2_information_value                 5781 non-null    object
 77  built_2_a_information_value               5781 non-null    object
 78  built_2_b_information_value               5781 non-null    object
 79  filing_representative_middle_initial      8656 non-null    object
 80  apt_condo_no_s                            1164 non-null    object
 81  request_legalization                      4 non-null       object
 82  includes_permanent_removal                4 non-null       object
dtypes: object(83)
memory usage: 114.6+ MB

In [17]:
trimmed_df = all_results_df[['job_filing_number',
                             'filing_status',
                             'borough',
                             'house_no',
                             'street_name',
                             'initial_cost',
                             'building_type',
                             'existing_stories',
                             'existing_height',
                             'existing_dwelling_units',
                             'proposed_no_of_stories',
                             'proposed_height',
                             'proposed_dwelling_units',
                             'filing_date',
                             'current_status_date',
                             'first_permit_date',
                             'latitude',
                             'longitude',
                             'job_type']]

In [18]:
trimmed_df

,job_filing_number,filing_status,borough,house_no,street_name,initial_cost,building_type,existing_stories,existing_height,existing_dwelling_units,proposed_no_of_stories,proposed_height,proposed_dwelling_units,filing_date,current_status_date,first_permit_date,latitude,longitude,job_type
0,B00983824-I1,Permit Issued,BROOKLYN,203,MAPLE STREET,370000,1 Family,4,35,1,4,35,1,2024-01-01T00:00:00.000,2025-02-05T23:39:50.000,2024-11-01T00:00:00.000,40.660608,-73.954319,Alteration
1,M00982779-I1,Permit Entire,MANHATTAN,305,7 AVENUE,1,Other,NaN,NaN,20,NaN,NaN,20,2024-01-01T00:00:00.000,2025-02-28T19:07:01.000,2024-01-02T12:17:48.000,40.746707,-73.993735,Alteration
2,B00983360-S1,Approved,BROOKLYN,509,QUENTIN ROAD,20000,1 Family,2,29,1,3,34,1,2024-01-01T00:00:00.000,2025-01-10T15:41:51.000,NaN,40.607139,-73.968412,ALT-CO - New Building with Existing Elements t...
3,B00983530-S1,Permit Entire,BROOKLYN,1088,EAST 8 STREET,20000,1 Family,3,35,1,3,35,1,2024-01-01T00:00:00.000,2025-02-20T21:00:23.000,2025-02-20T00:00:00.000,NaN,NaN,ALT-CO - New Building with Existing Elements t...
4,Q00928780-S1,Permit Entire,QUEENS,167-05 GAR,65 AVENUE,0,Other,NaN,NaN,NaN,1,12,0,2024-01-01T00:00:00.000,2024-11-12T17:09:58.000,2024-11-12T00:00:00.000,NaN,NaN,New Building
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180974,B00808925-P2,Pending SO PE Assignment,BROOKLYN,1117,CHURCH AVENUE,525265,Other,2,23,2,2,23,2,2025-03-03T00:00:00.000,2025-03-03T21:02:21.000,NaN,40.64709,-73.969081,Alteration CO
180975,B01031089-P3,Prof Cert QA Review,BROOKLYN,1601,DEKALB AVENUE,17000,Other,NaN,NaN,0,NaN,NaN,0,2025-03-03T00:00:00.000,2025-03-03T15:52:00.000,NaN,NaN,NaN,Alteration
180976,B01187808-I1,Pending CPE/ACPE Assignment,BROOKLYN,1522,57 STREET,80000,2 Family,NaN,NaN,0,NaN,NaN,2,2025-03-03T00:00:00.000,2025-03-03T23:38:20.000,NaN,40.627471,-73.991707,Alteration
180977,M01187109-I1,Pending Prof Cert QA Assignment,MANHATTAN,100,WEST 89 STREET,500000,Other,9,85,108,9,85,108,2025-03-03T00:00:00.000,2025-03-03T22:08:02.000,NaN,40.787979,-73.971645,Alteration
180978,Q00939603-I1,Pending CPE/ACPE Assignment,QUEENS,36-20,23 AVENUE,42500,Other,NaN,NaN,2,NaN,NaN,5,2025-03-03T00:00:00.000,2025-03-03T21:39:22.000,NaN,40.772434,-73.910156,Alteration

In [19]:
trimmed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180979 entries, 0 to 180978
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   job_filing_number        180979 non-null  object
 1   filing_status            180979 non-null  object
 2   borough                  180979 non-null  object
 3   house_no                 180979 non-null  object
 4   street_name              180979 non-null  object
 5   initial_cost             180979 non-null  object
 6   building_type            178205 non-null  object
 7   existing_stories         83236 non-null   object
 8   existing_height          79004 non-null   object
 9   existing_dwelling_units  146974 non-null  object
 10  proposed_no_of_stories   92992 non-null   object
 11  proposed_height          88751 non-null   object
 12  proposed_dwelling_units  157447 non-null  object
 13  filing_date              180979 non-null  object
 14  current_status_date      180979 non-null  object
 15  first_permit_date        88306 non-null   object
 16  latitude                 156644 non-null  object
 17  longitude                156644 non-null  object
 18  job_type                 180979 non-null  object
dtypes: object(19)
memory usage: 26.2+ MB

In [25]:
trimmed_df['filing_date'] = pd.to_datetime(trimmed_df['filing_date'],format='mixed')

/var/folders/7b/lhrpdd1j6pd65g1hqvwlmfph0000gn/T/ipykernel_37699/2304866335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed_df['filing_date'] = pd.to_datetime(trimmed_df['filing_date'],format='mixed')

In [26]:
trimmed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180979 entries, 0 to 180978
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   job_filing_number        180979 non-null  object
 1   filing_status            180979 non-null  object
 2   borough                  180979 non-null  object
 3   house_no                 180979 non-null  object
 4   street_name              180979 non-null  object
 5   initial_cost             180979 non-null  object
 6   building_type            178205 non-null  object
 7   existing_stories         83236 non-null   object
 8   existing_height          79004 non-null   object
 9   existing_dwelling_units  146974 non-null  object
 10  proposed_no_of_stories   92992 non-null   object
 11  proposed_height          88751 non-null   object
 12  proposed_dwelling_units  157447 non-null  object
 13  filing_date              180979 non-null  datetime64[ns]
 14  current_status_date      180979 non-null  object
 15  first_permit_date        88306 non-null   object
 16  latitude                 156644 non-null  object
 17  longitude                156644 non-null  object
 18  job_type                 180979 non-null  object
dtypes: datetime64[ns](1), object(18)
memory usage: 26.2+ MB

In [27]:
df_2025 = trimmed_df[trimmed_df['filing_date']>'2024-12-31']

In [28]:
df_2025

,job_filing_number,filing_status,borough,house_no,street_name,initial_cost,building_type,existing_stories,existing_height,existing_dwelling_units,proposed_no_of_stories,proposed_height,proposed_dwelling_units,filing_date,current_status_date,first_permit_date,latitude,longitude,job_type
156332,B01061790-S7,Objections,BROOKLYN,466,LAFAYETTE AVENUE,0,3 Family,NaN,NaN,NaN,4,44,2,2025-01-01,2025-01-07T19:20:12.000,NaN,NaN,NaN,New Building
156333,B01160228-I1,Objections,BROOKLYN,661,LINDEN BOULEVARD,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-01-01,2025-02-04T21:03:01.000,NaN,40.653599,-73.93403,No Work
156334,X01083719-S1,Approved,BRONX,297,EAST 170 STREET,2000,Other,NaN,NaN,70,NaN,NaN,70,2025-01-01,2025-01-02T16:57:04.000,NaN,40.837734,-73.910472,Alteration
156335,B00881524-P4,Approved,BROOKLYN,105,DIAMOND STREET,0,Other,NaN,NaN,NaN,4,50,4,2025-01-01,2025-02-28T21:59:44.000,NaN,NaN,NaN,New Building
156336,B01149492-I1,Plan Examiner Review,BROOKLYN,178,GARFIELD PLACE,344500,2 Family,4,39,2,4,39,2,2025-01-01,2025-03-03T20:00:44.000,NaN,40.672794,-73.978056,Alteration
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180974,B00808925-P2,Pending SO PE Assignment,BROOKLYN,1117,CHURCH AVENUE,525265,Other,2,23,2,2,23,2,2025-03-03,2025-03-03T21:02:21.000,NaN,40.64709,-73.969081,Alteration CO
180975,B01031089-P3,Prof Cert QA Review,BROOKLYN,1601,DEKALB AVENUE,17000,Other,NaN,NaN,0,NaN,NaN,0,2025-03-03,2025-03-03T15:52:00.000,NaN,NaN,NaN,Alteration
180976,B01187808-I1,Pending CPE/ACPE Assignment,BROOKLYN,1522,57 STREET,80000,2 Family,NaN,NaN,0,NaN,NaN,2,2025-03-03,2025-03-03T23:38:20.000,NaN,40.627471,-73.991707,Alteration
180977,M01187109-I1,Pending Prof Cert QA Assignment,MANHATTAN,100,WEST 89 STREET,500000,Other,9,85,108,9,85,108,2025-03-03,2025-03-03T22:08:02.000,NaN,40.787979,-73.971645,Alteration
180978,Q00939603-I1,Pending CPE/ACPE Assignment,QUEENS,36-20,23 AVENUE,42500,Other,NaN,NaN,2,NaN,NaN,5,2025-03-03,2025-03-03T21:39:22.000,NaN,40.772434,-73.910156,Alteration

In [71]:
df_2025['job_type'].unique()

array(['New Building', 'No Work', 'Alteration', 'Alteration CO',
       'ALT-CO - New Building with Existing Elements to Remain',
       'Full Demolition'], dtype=object)

In [72]:
df_2025['filing_status'].unique()

array(['Objections', 'Approved', 'Plan Examiner Review', 'Permit Entire',
       'LOC Issued', 'Filing Withdrawn', 'Permit Issued', 'QA Failed',
       'TA Certificate of Operation Issued', 'Incomplete',
       'OnHold-NoGoodCheck', 'SO Plan Examiner Review',
       'Chief Plan Examiner/ Assistant Chief Plan Examiner Review',
       'Prof Cert QA Review', 'Pending Plan Examiner Assignment',
       'On Hold – Administrative Action', 'Disapproved',
       'On Hold - Pending Supersede of Applicant of Record',
       'Full Demolition Signed-off', 'PAA Approved', 'LL 158-2017-Denied',
       'Pending CPE/ACPE Assignment', 'Zoning Plan Examiner Review',
       'Pending SO PE Assignment', 'Pending Prof Cert QA Assignment',
       'Pending Zoning Plan Examiner Assignment', 'Pending QA Assignment'],
      dtype=object)

In [74]:
new_buildings = df_2025[df_2025['job_type'].isin(['New Building'])]

In [75]:
new_buildings['filing_status'].unique()

array(['Objections', 'Approved', 'Plan Examiner Review', 'Permit Entire',
       'LOC Issued', 'Filing Withdrawn', 'Incomplete',
       'Chief Plan Examiner/ Assistant Chief Plan Examiner Review',
       'SO Plan Examiner Review', 'OnHold-NoGoodCheck', 'QA Failed',
       'Prof Cert QA Review', 'On Hold – Administrative Action',
       'Pending Plan Examiner Assignment', 'Pending SO PE Assignment',
       'Pending CPE/ACPE Assignment', 'Pending Prof Cert QA Assignment'],
      dtype=object)

In [77]:
new_buildings.sample(20)

,job_filing_number,filing_status,borough,house_no,street_name,initial_cost,building_type,existing_stories,existing_height,existing_dwelling_units,proposed_no_of_stories,proposed_height,proposed_dwelling_units,filing_date,current_status_date,first_permit_date,latitude,longitude,job_type
162455,Q01168893-I1,Objections,QUEENS,177-16,144 DRIVE,0,2 Family,NaN,NaN,NaN,2,34,2,2025-01-17,2025-02-03T12:31:58.000,NaN,NaN,NaN,New Building
158150,M00630979-P9,Approved,MANHATTAN,250,WEST 49 STREET,1000,Other,NaN,NaN,NaN,23,255,136,2025-01-07,2025-01-15T12:02:16.000,NaN,NaN,NaN,New Building
172811,M00694856-P2,Objections,MANHATTAN,56,MARBLE HILL AVENUE,2764000,Other,NaN,NaN,NaN,5,52,36,2025-02-12,2025-02-27T17:20:03.000,NaN,NaN,NaN,New Building
162393,M00816950-A1,Approved,MANHATTAN,648,WEST 48 STREET,1000,Other,NaN,NaN,NaN,6,94,0,2025-01-16,2025-01-23T23:43:48.000,NaN,NaN,NaN,New Building
168534,S00957997-P1,SO Plan Examiner Review,STATEN ISLAND,69,BAYVIEW TERRACE,0,2 Family,NaN,NaN,NaN,3,33,2,2025-02-02,2025-02-26T14:22:04.000,NaN,NaN,NaN,New Building
175828,X01178301-I1,Pending Plan Examiner Assignment,BRONX,707,EAST 215 STREET,0,Other,NaN,NaN,NaN,4,41,24,2025-02-19,2025-02-20T18:17:31.000,NaN,40.880391,-73.863812,New Building
169752,Q01154124-S1,Objections,QUEENS,12-13,BAY 25 STREET,0,Other,NaN,NaN,NaN,2,30,0,2025-02-04,2025-02-21T16:29:58.000,NaN,40.605806,-73.763938,New Building
179190,M01039403-S8,Approved,MANHATTAN,555,WEST 45 STREET,0,Other,NaN,NaN,NaN,7,66,58,2025-02-26,2025-03-03T18:27:32.000,NaN,NaN,NaN,New Building
157383,S00785845-P1,Approved,STATEN ISLAND,6,SIMONSON AVENUE,200000,2 Family,NaN,NaN,NaN,3,26,2,2025-01-06,2025-01-15T20:50:40.000,NaN,40.636495,-74.151493,New Building
167925,B00691191-P4,Approved,BROOKLYN,825,GATES AVENUE,0,Other,NaN,NaN,NaN,3,31,2,2025-01-30,2025-01-30T17:00:48.000,NaN,NaN,NaN,New Building
176678,S00896943-P2,Approved,STATEN ISLAND,19,AULTMAN AVENUE,0,Other,NaN,NaN,NaN,4,29,2,2025-02-21,2025-02-26T19:17:21.000,NaN,NaN,NaN,New Building
177040,Q00582096-P2,Plan Examiner Review,QUEENS,139-04,HILLSIDE AVENUE,1000,Other,NaN,NaN,NaN,7,73,31,2025-02-21,2025-02-24T15:05:59.000,NaN,40.704466,-73.814187,New Building
169119,X00755013-S9,Approved,BRONX,2274,MORRIS AVENUE,30000,Other,NaN,NaN,NaN,6,67,20,2025-02-03,2025-02-21T19:10:52.000,NaN,NaN,NaN,New Building
156625,Q00568756-P8,Approved,QUEENS,172-02,HILLSIDE AVENUE,558470,Other,NaN,NaN,NaN,9,85,68,2025-01-02,2025-01-23T20:08:26.000,NaN,40.711756,-73.790078,New Building
166574,X01124004-S1,Permit Entire,BRONX,1981,CROTONA AVENUE,0,Other,NaN,NaN,NaN,4,52,18,2025-01-28,2025-02-28T16:20:39.000,2025-02-28T00:00:00.000,NaN,NaN,New Building
177577,S00983146-P2,Plan Examiner Review,STATEN ISLAND,851 GAR,IONIA AVENUE,0,2 Family,NaN,NaN,NaN,1,11,0,2025-02-24,2025-03-03T21:32:45.000,NaN,NaN,NaN,New Building
178328,S00786750-P4,Approved,STATEN ISLAND,40,AULTMAN AVENUE,20000,1 Family,NaN,NaN,NaN,2,32,1,2025-02-25,2025-02-28T15:13:16.000,NaN,NaN,NaN,New Building
167160,Q01135704-I1,Objections,QUEENS,9-04,127 STREET,0,2 Family,NaN,NaN,NaN,2,35,2,2025-01-29,2025-02-11T14:17:23.000,NaN,40.789069,-73.840963,New Building
172068,B00759252-P4,Objections,BROOKLYN,139,BAY 14 STREET,10000,3 Family,NaN,NaN,NaN,3,35,3,2025-02-10,2025-02-20T19:04:02.000,NaN,40.606364,-74.008506,New Building
175968,B00653652-A1,Approved,BROOKLYN,134,WAVERLY AVENUE,1000,Other,NaN,NaN,NaN,4,40,6,2025-02-19,2025-02-25T22:25:42.000,NaN,NaN,NaN,New Building

In [29]:
df_2025.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24647 entries, 156332 to 180978
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   job_filing_number        24647 non-null  object
 1   filing_status            24647 non-null  object
 2   borough                  24647 non-null  object
 3   house_no                 24647 non-null  object
 4   street_name              24647 non-null  object
 5   initial_cost             24647 non-null  object
 6   building_type            24369 non-null  object
 7   existing_stories         12279 non-null  object
 8   existing_height          11693 non-null  object
 9   existing_dwelling_units  20256 non-null  object
 10  proposed_no_of_stories   13637 non-null  object
 11  proposed_height          13048 non-null  object
 12  proposed_dwelling_units  21631 non-null  object
 13  filing_date              24647 non-null  datetime64[ns]
 14  current_status_date      24647 non-null  object
 15  first_permit_date        6870 non-null   object
 16  latitude                 21781 non-null  object
 17  longitude                21781 non-null  object
 18  job_type                 24647 non-null  object
dtypes: datetime64[ns](1), object(18)
memory usage: 3.8+ MB

In [32]:
from pages.Construction_Application import remove_blanks

In [33]:
no_blanks_2025 = remove_blanks(df_2025,['proposed_dwelling_units','existing_dwelling_units'])

In [34]:
no_blanks_2025['proposed_dwelling_units'] = no_blanks_2025['proposed_dwelling_units'].astype(int)

/var/folders/7b/lhrpdd1j6pd65g1hqvwlmfph0000gn/T/ipykernel_37699/4173096539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_blanks_2025['proposed_dwelling_units'] = no_blanks_2025['proposed_dwelling_units'].astype(int)

In [35]:
no_blanks_2025['existing_dwelling_units'] = no_blanks_2025['existing_dwelling_units'].astype(int)

/var/folders/7b/lhrpdd1j6pd65g1hqvwlmfph0000gn/T/ipykernel_37699/1617907478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_blanks_2025['existing_dwelling_units'] = no_blanks_2025['existing_dwelling_units'].astype(int)

In [58]:
no_blanks_2025['change_in_units'] = no_blanks_2025['proposed_dwelling_units'] - no_blanks_2025['existing_dwelling_units']

/var/folders/7b/lhrpdd1j6pd65g1hqvwlmfph0000gn/T/ipykernel_37699/4007570245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_blanks_2025['change_in_units'] = no_blanks_2025['proposed_dwelling_units'] - no_blanks_2025['existing_dwelling_units']

In [37]:
no_blanks_2025

,job_filing_number,filing_status,borough,house_no,street_name,initial_cost,building_type,existing_stories,existing_height,existing_dwelling_units,proposed_no_of_stories,proposed_height,proposed_dwelling_units,filing_date,current_status_date,first_permit_date,latitude,longitude,job_type,change_in_units
156334,X01083719-S1,Approved,BRONX,297,EAST 170 STREET,2000,Other,NaN,NaN,70,NaN,NaN,70,2025-01-01,2025-01-02T16:57:04.000,NaN,40.837734,-73.910472,Alteration,0
156336,B01149492-I1,Plan Examiner Review,BROOKLYN,178,GARFIELD PLACE,344500,2 Family,4,39,2,4,39,2,2025-01-01,2025-03-03T20:00:44.000,NaN,40.672794,-73.978056,Alteration,0
156339,M01087604-S3,Approved,MANHATTAN,68,LAIGHT STREET,15000,Other,NaN,NaN,10,NaN,NaN,10,2025-01-01,2025-02-25T19:57:09.000,NaN,40.722141,-74.009885,Alteration,0
156340,M01139243-I1,Permit Entire,MANHATTAN,205,WEST 14 STREET,33000,Other,5,50,4,5,50,4,2025-01-01,2025-01-30T13:38:05.000,2025-01-30T00:00:00.000,40.738775,-74.000184,Alteration,0
156341,B01159609-P1,Approved,BROOKLYN,23A,VERNON AVENUE,4000,3 Family,NaN,NaN,3,NaN,NaN,3,2025-01-01,2025-01-02T21:05:42.000,NaN,40.694412,-73.951129,Alteration,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180974,B00808925-P2,Pending SO PE Assignment,BROOKLYN,1117,CHURCH AVENUE,525265,Other,2,23,2,2,23,2,2025-03-03,2025-03-03T21:02:21.000,NaN,40.64709,-73.969081,Alteration CO,0
180975,B01031089-P3,Prof Cert QA Review,BROOKLYN,1601,DEKALB AVENUE,17000,Other,NaN,NaN,0,NaN,NaN,0,2025-03-03,2025-03-03T15:52:00.000,NaN,NaN,NaN,Alteration,0
180976,B01187808-I1,Pending CPE/ACPE Assignment,BROOKLYN,1522,57 STREET,80000,2 Family,NaN,NaN,0,NaN,NaN,2,2025-03-03,2025-03-03T23:38:20.000,NaN,40.627471,-73.991707,Alteration,2
180977,M01187109-I1,Pending Prof Cert QA Assignment,MANHATTAN,100,WEST 89 STREET,500000,Other,9,85,108,9,85,108,2025-03-03,2025-03-03T22:08:02.000,NaN,40.787979,-73.971645,Alteration,0
180978,Q00939603-I1,Pending CPE/ACPE Assignment,QUEENS,36-20,23 AVENUE,42500,Other,NaN,NaN,2,NaN,NaN,5,2025-03-03,2025-03-03T21:39:22.000,NaN,40.772434,-73.910156,Alteration,3

In [38]:
sum_new_units_2025 = no_blanks_2025['change_in_units'].sum()

In [39]:
sum_new_units_2025

np.int64(44191)

In [41]:
no_blanks_2025['filing_status'].unique()

array(['Approved', 'Plan Examiner Review', 'Permit Entire', 'Objections',
       'LOC Issued', 'Filing Withdrawn', 'Permit Issued', 'Incomplete',
       'QA Failed', 'OnHold-NoGoodCheck', 'SO Plan Examiner Review',
       'Chief Plan Examiner/ Assistant Chief Plan Examiner Review',
       'Prof Cert QA Review', 'Pending Plan Examiner Assignment',
       'On Hold – Administrative Action', 'Disapproved',
       'On Hold - Pending Supersede of Applicant of Record',
       'LL 158-2017-Denied', 'Pending CPE/ACPE Assignment',
       'Zoning Plan Examiner Review', 'Pending SO PE Assignment',
       'Pending Prof Cert QA Assignment',
       'Pending Zoning Plan Examiner Assignment'], dtype=object)

In [66]:
approved_2025 = no_blanks_2025[no_blanks_2025['filing_status'].isin(['Permit Entire', 'Permit Issued'])]

In [67]:
approved_2025.sample(20)

,job_filing_number,filing_status,borough,house_no,street_name,initial_cost,building_type,existing_stories,existing_height,existing_dwelling_units,proposed_no_of_stories,proposed_height,proposed_dwelling_units,filing_date,current_status_date,first_permit_date,latitude,longitude,job_type,change_in_units
172876,Q01072052-I1,Permit Entire,QUEENS,4,DARTMOUTH STREET,3000,Other,NaN,NaN,65,NaN,NaN,65,2025-02-12,2025-02-12T20:35:08.000,2025-02-12T15:35:01.000,40.718948,-73.846458,Alteration,0
161097,M01159406-I1,Permit Entire,MANHATTAN,149,FIFTH AVENUE,45000,Other,16,NaN,0,16,NaN,0,2025-01-14,2025-01-27T19:33:53.000,2025-01-27T00:00:00.000,40.74035,-73.990441,Alteration,0
173527,X01172772-I1,Permit Entire,BRONX,812,RIVER AVENUE,1598,Other,NaN,NaN,134,NaN,NaN,134,2025-02-13,2025-02-13T15:52:55.000,2025-02-13T10:52:55.000,40.826092,-73.926925,Alteration,0
175322,M01176936-I1,Permit Entire,MANHATTAN,909,THIRD AVENUE,25000,Other,32,325,0,32,325,0,2025-02-18,2025-02-21T15:13:56.000,2025-02-21T00:00:00.000,40.758417,-73.968856,Alteration,0
171089,Q01175739-I1,Permit Entire,QUEENS,44-71,23 STREET,350000,Other,49,673,0,49,673,0,2025-02-07,2025-02-27T18:24:02.000,2025-02-27T00:00:00.000,40.747377,-73.945147,Alteration,0
157797,M01146775-I1,Permit Entire,MANHATTAN,308,MOTT STREET,25000,Other,7,72,40,7,72,40,2025-01-06,2025-01-15T17:22:55.000,2025-01-15T00:00:00.000,40.72516,-73.993964,Alteration,0
174366,M01160464-I1,Permit Entire,MANHATTAN,1250,BROADWAY,700000,Other,39,447,0,39,447,0,2025-02-14,2025-02-21T15:06:36.000,2025-02-21T00:00:00.000,40.747571,-73.988018,Alteration,0
158691,M01151680-S2,Permit Entire,MANHATTAN,420,LEXINGTON AVENUE,149999.6,Other,NaN,NaN,0,NaN,NaN,0,2025-01-08,2025-02-14T14:53:24.000,2025-02-14T00:00:00.000,40.752262,-73.975464,Alteration,0
173575,X01180965-I1,Permit Entire,BRONX,581,TIMPSON PLACE,5000,Other,NaN,NaN,72,NaN,NaN,72,2025-02-13,2025-02-14T19:31:23.000,2025-02-14T14:31:22.000,40.811782,-73.902498,Alteration,0
163359,M00899880-I1,Permit Entire,MANHATTAN,99,PARK AVENUE,300000,Other,26,282,0,26,282,0,2025-01-21,2025-02-04T14:17:12.000,2025-02-04T00:00:00.000,40.750122,-73.979114,Alteration,0
175930,M01160676-I1,Permit Entire,MANHATTAN,239,WEST 42 STREET,9009,Other,NaN,NaN,0,NaN,NaN,0,2025-02-19,2025-02-24T19:35:43.000,2025-02-24T00:00:00.000,40.75676,-73.988648,Alteration,0
174714,M01181835-I1,Permit Entire,MANHATTAN,37,EAST 18 STREET,5000,Other,NaN,NaN,0,NaN,NaN,0,2025-02-17,2025-02-18T15:12:27.000,2025-02-18T10:12:20.000,40.737652,-73.989759,Alteration,0
175978,M01144853-I1,Permit Entire,MANHATTAN,142,FIFTH AVENUE,1100,Other,NaN,NaN,11,NaN,NaN,11,2025-02-19,2025-02-25T19:19:05.000,2025-02-25T00:00:00.000,40.739299,-73.991852,Alteration,0
160781,M01163295-I1,Permit Entire,MANHATTAN,300,EAST 40 STREET,5000,Other,NaN,NaN,568,NaN,NaN,568,2025-01-14,2025-01-21T13:05:39.000,2025-01-21T00:00:00.000,40.748013,-73.973528,Alteration,0
173384,Q01179873-I1,Permit Entire,QUEENS,688,WOODWARD AVENUE,4000,2 Family,NaN,NaN,2,NaN,NaN,2,2025-02-13,2025-02-26T21:09:13.000,2025-02-26T00:00:00.000,40.705047,-73.905962,Alteration,0
164723,B01169931-I1,Permit Entire,BROOKLYN,429,53 STREET,1336000,Other,2,20,1,4,55,6,2025-01-23,2025-02-28T20:28:07.000,2025-02-24T00:00:00.000,40.644296,-74.013488,ALT-CO - New Building with Existing Elements t...,5
171320,Q01177653-I1,Permit Entire,QUEENS,39-07,PRINCE STREET,80000,Other,6,128,0,6,128,0,2025-02-07,2025-02-12T17:26:38.000,2025-02-12T00:00:00.000,40.75977,-73.832037,Alteration,0
175332,B01181021-I1,Permit Entire,BROOKLYN,28,ERASMUS STREET,213500,Other,NaN,NaN,0,NaN,NaN,0,2025-02-18,2025-02-21T13:10:21.000,2025-02-21T00:00:00.000,40.649553,-73.954806,Alteration,0
163489,M01164112-S1,Permit Entire,MANHATTAN,412,AMSTERDAM AVENUE,5000,Other,5,55,13,5,55,13,2025-01-21,2025-03-03T15:13:31.000,2025-03-03T00:00:00.000,40.783635,-73.97798,Alteration,0
167011,M01170412-I1,Permit Entire,MANHATTAN,200,PARK AVENUE SOUTH,83643.18,Other,16,208,0,16,208,0,2025-01-29,2025-02-04T16:42:01.000,2025-02-04T00:00:00.000,40.736787,-73.989305,Alteration,0

In [68]:
approved_2025.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5066 entries, 156340 to 180950
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   job_filing_number        5066 non-null   object
 1   filing_status            5066 non-null   object
 2   borough                  5066 non-null   object
 3   house_no                 5066 non-null   object
 4   street_name              5066 non-null   object
 5   initial_cost             5066 non-null   object
 6   building_type            5066 non-null   object
 7   existing_stories         2311 non-null   object
 8   existing_height          2193 non-null   object
 9   existing_dwelling_units  5066 non-null   int64
 10  proposed_no_of_stories   2311 non-null   object
 11  proposed_height          2193 non-null   object
 12  proposed_dwelling_units  5066 non-null   int64
 13  filing_date              5066 non-null   datetime64[ns]
 14  current_status_date      5066 non-null   object
 15  first_permit_date        5066 non-null   object
 16  latitude                 4731 non-null   object
 17  longitude                4731 non-null   object
 18  job_type                 5066 non-null   object
 19  change_in_units          5066 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(16)
memory usage: 831.1+ KB

In [69]:
approved_2025['change_in_units'].unique()

array([   0,   -2,    1,  -20,   -1,    7,   85,   -5,   35,    6,   73,
         58,   87,    3,    5,   -3,   30,   29,   26,    2,   59,  158,
       -556,  -28,  132,    8,   45,   70,    9,  386,   10,  -53,   38,
         96,  -63,  -22,   95,  425,   25,   69,  209,   62,   -6,   15,
         12,   41,  500,   46,    4,  420,  -70,  120,  202,   68,   20,
        824,  112,   48,  -67,   90,   18,  250,   28,  -95,   21,  834,
         -4,  -36,  -60,  175,  295,  -64,  -44,  348,   34,   22,  529,
        106,   82, -198,  184,   24,  -25,  -45,   44,   16,  163,  131,
        -13,   50])

In [70]:
approved_2025['job_type'].unique()

array(['Alteration', 'Alteration CO',
       'ALT-CO - New Building with Existing Elements to Remain'],
      dtype=object)

In [45]:
sum_approved_new_units_2025 = approved_2025['change_in_units'].sum()
sum_approved_new_units_2025

np.int64(35147)

In [ ]:
number_of_approved2025 = len(approved_2025)
number_of_approved2025

14904

In [47]:
number_of_applications_2025 = len(df_2025)
number_of_applications_2025

24647

In [ ]:
from construction_functions import connect_to_nyc_data
connect_to_nyc_data("ic3t-wcy2","job_status='R'")

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.
WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

20000 20000
20000 40000

,job__,doc__,borough,house__,street_name,block,lot,bin__,job_type,job_status,...,curb_cut,fuel_storage,standpipe,zoning_dist3,owner_s_house_number,owner_shouse_street_name,city_,state,zip,signoff_date
0,302163557,01,BROOKLYN,96,ROCKWELL PLACE,02106,07501,3059160,A1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,301773631,01,BROOKLYN,591,FLATBUSH AVENUE,05034,00004,3115047,A1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,421789559,01,QUEENS,98-87,QUEENS BLVD,02105,00001,4050525,DM,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,240304167,01,BRONX,101,LINCOLN AVE,02316,00001,2130735,A3,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,440707709,01,QUEENS,131-24,223 STREET,12932,00108,4278532,A2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,401740167,01,QUEENS,64-11,99 STREET,02113,00001,4050798,A2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39996,401345852,01,QUEENS,167-02,45TH AVENUE,05446,00018,4123454,PA,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39997,401740559,01,QUEENS,121-57,233 STREET,12860,00016,4276751,A2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39998,401740700,01,QUEENS,149-18,118 STREET,11818,00047,4256890,NB,R,...,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39999,401243365,01,QUEENS,93-20,ROOSEVELT AVENUE,01562,00025,4039040,DM,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df_2025['job_type'].unique()

array(['New Building', 'No Work', 'Alteration', 'Alteration CO',
       'ALT-CO - New Building with Existing Elements to Remain',
       'Full Demolition'], dtype=object)